<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header.html::header"/>
<body>
 <div th:replace="common/navbar.html::navbar"></div>
<div class="container">
<div th:object="${item}">
  <form method="post">
    <div class="row">
        <div class="col-md-4">
            <img th:src="@{/images/default.png}" alt="IMAGE NOT SET" width="200" height="200" align="center">
        </div>
        <div class="col-md-8">
            <p class="h5">
                商品番号： [[ *{id} ]]
            </p>
            <p class="mt-5">
                商品名:<input type="text" class="form-control" th:value="*{name}" name="name">
            </p>
            <p>
                価格：<input type="text" class="form-control" th:value="*{price}" name="price"> Yen
            </p>
        </div>
    </div>
    <div class="row mt-5 mr-1 ml-1">
        <input type="text" class="form-control" th:value="*{description}" name="description">
               <button class="test" type="submit">完了</button>
  </form>

    </div>
</div>
</body>
</html>